.ListPage{
    width: 100%;
}

.Header{
    border-bottom: 1px solid #ccc;
    background-color: #17578e;
    padding: 10px;
}

.Header h1{
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}

.List{
    display: flex;
}
